Bug: Compression level not recorded in gzip header

Compression level succeeds for gzip files, but the metadata does not store the compression level flag.

Source code: 
`
a = archive_write_new();
archive_write_set_format_pax_restricted(a)
archive_write_add_filter_gzip(a);
archive_write_set_bytes_per_block(a, 10);
archive_write_add_filter_gzip(a);
cout << archive_write_set_options(a, "gzip:compression-level=1") << endl; // prints 0
cout << archive_errno(a) << endl; // prints 0
archive_write_open_filename(a, outname);
`

Metadata hex output:
1f8b 0800 5cde 095a **00**03 93ef e660 88b9
What it should be:
1f8b 0808 67de 095a **02**03 6764 6566 6175

Basic Information
  Version of libarchive: **libarchive-3.1.2-10.el7_2.x86_64**
  How you obtained it:  (build from source, pre-packaged binary, etc). **RPM installed**
  Operating system and version: **RHEL7**
  What compiler and/or IDE you are using (include version): **Gnu C++ compiler (C++11).**

We do always set that value to zero in the current code:

https://github.com/libarchive/libarchive/blob/master/libarchive/archive_write_add_filter_gzip.c#L229

Looking at RFC 1952, section 2.3.1, it looks like we should set it as follows:
* It should be 2 if the compression level is 9 (maximum compression)
* It should be 4 if the compression level is 1 (fastest)
* It should be zero otherwise.

Could you send us a Pull Request with the appropriate change?

Thanks! And sure, I will send out a pull request for this.

Pull request: https://github.com/libarchive/libarchive/pull/973

Closed by merging PR #973 